.profile-key > ul > li, 
.profile-value > ul > li {
    margin: 20px 0;
    font-size: 20px;
    min-height:20px
}
.profile-value > ul > li > input
{
    text-indent: 5px;
    border-style: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
    min-height:18px
}

.tab-content {
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.15);
    background-color: white;
    border:none;
    border-radius: 10px;
}
.profile-value > ul > li > input:focus
{
    text-indent: 5px;
    border-style: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
    outline: none;
}

.profile-content > nav > a {
    color: black
}
.profile-content > nav > a:focus {
    color: gray;
    outline: none
}